body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.header{
    background-color:  rgb(221, 217, 217);
}
.container{
    padding:20px 35px;

}
.header-1{
    display: inline-block;
    padding-right: 20px;
  
}

.logo-name {
    display: inline-block;
   
    padding-left: 150px;
    
}
.logo-name h2{
    
    font-weight: 600;
}
.header-2{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.header-2{
    float: right;
}
.container >ul{
    text-align:right;
    list-style-type:none;
}

ul li{
    margin-bottom: 1px solid black;
    display: inline-block;
    margin-right: 20px;
    
}
.container ul li >a{
    text-decoration: none;
    color: black;
}
/****dropdown****/
.class-1 button{
    margin: 22px;
}
.dropdown-container{
    
    display: none;
    padding-left: 24px;
    
}
.dropdown-container a{
    font-size: 15px;
    display: block;
    text-decoration: none;
    border:1px solid  rgb(221, 217, 217);
    color: black;
}
.dropdown-container a:hover{
    background-color: rgb(245, 245, 200);
}
.dropdown-btn{
    background-color: rgb(221, 217, 217);
    border:none;
    outline:none;
}

/***/
/****small container*******/
.small-container{
    display:flex;
    
    width: auto;
   
    
}
.class-1{
     flex-basis: 10%;
    height:450px;
    text-align:left;
    font-size: 18px;
    background-color: rgb(221, 217, 217);
    position: static;
    
}
.class-1 li{
padding: 35px 20px;
}
.class-1 li:hover {
    transition:transform 0.5s;
    transform: translateX(5px);
}

.class-1 li a{
    text-decoration: none;
    color: black;
}
 .class-2{
    height:600px;
    flex-basis: 90%;  
}
.search{
    border-radius: 20px 20px;
    border: 1px solid salmon;
    padding: 2px 5px;
}
.header3 table{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    width: 100%; 
    
}
.header3 th,td{
    padding:10px 10px;
}

.customerdetails{
    border-radius:10px;
    padding:0px 5px;
    border: 1px solid salmon
}


 .header3 tr:nth-child(even){
     background-color: rgb(255, 247, 238);
 }
.header3 tr:hover {background-color: #ddd;}


/******footer**********/
.footer{
   
    color:rgb(90, 87, 87);
    font-size:14px;
    padding-top:100px;
    text-align: center;    
}

/**customerlist**/
.header1{
    background-color: rgb(240, 240, 240);
    padding: 10px;  
}
.header2{

padding: 10px; 
}
/**customer details***/
.class-2 .content1 h3{
    padding:7px 14px;
    background-color: rgb(240, 240, 240);
}
.content2 p{
    padding: 10px;
   
}
.content2 .col1  tr{
    padding: 0px 8px;
}
.col1{
    margin:5px 5px;
    display: inline-block;
    background-color: rgb(240, 240, 240);
}
.col2{
    background-color: rgb(240, 240, 240);
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
}
.content2 .col2  tr {
    padding: 0px 8px;
}
.update{
    margin: 0px 10px;
    padding:2px 5px;
    border-radius: 10px;
    border:1px solid salmon;
}
.clear{
    margin: 0px 2px;
    padding:2px 5px;
    border-radius: 10px;
    border:1px solid salmon
}